/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wpp {
	text-align: center;
    display: grid;
    grid-gap: 10px;
	height: 100vh;
    grid-template-rows: repeat(2, [row] auto);
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;

}

.box .box {
    background-color: #ccc;
    color: #444;
}

.header {
    grid-column: span 5;
    grid-row: row;
    font-size: 46px;
}

.sidebar {
	font-size: 10px;
    grid-column: col 4/span 1;
    grid-row: row 2;
}

.navegation {
	font-size: 12px;
    grid-column: span 1;
    grid-row: row 2;
}

.content {
	font-size: 14px;
    grid-column: col 1 / span 3;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.e {
    grid-column: 1 / 3;
    grid-row: 2;
}

.f {
    grid-column: 1 / 3;
    grid-row: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.g {
    grid-column: 1 / 3;
    grid-row: 4;
}
.content-section {
    grid-column: 1 / 3;
    grid-row: 1;
}
.footer {
    grid-column: span 5;
    grid-row: 3;
    font-size: 10px;
}

html *
{
   font-size: 14px ;
   font-family: Arial;
   font-weight:bold;
}


[class*="a"] {
	background-color: blue;
}
[class$="r"] {
	background-color: magenta;
}

/*
Imagine there is a declaration like class=”oh-no-inline-styles” style=”background:red” and you need to change the background to green 
without changing the inline style. How could you accomplish this?

crearia un selector al elemento de la clase oh-no-inline-styles y le colocaria background:green !important*/



* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.zf{
    background-color: black;
    position: relative;
    height: 50vh
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.zf:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
    .col-4 {width: 50%;}
    .zf{
    background-color: black;
    position: relative;
    height: 20vh
}
}